[submodule "iMEGA/Vendor/SDK"]
	path = iMEGA/Vendor/SDK
	url = https://github.com/meganz/sdk.git
[submodule "iMEGA/Vendor/MWPhotoBrowser"]
	path = iMEGA/Vendor/MWPhotoBrowser
	url = https://github.com/meganz/MWPhotoBrowser.git
[submodule "iMEGA/Vendor/SVProgressHUD"]
	path = iMEGA/Vendor/SVProgressHUD
	url = https://github.com/meganz/SVProgressHUD.git
[submodule "iMEGA/Vendor/sskeychain"]
	path = iMEGA/Vendor/sskeychain
	url = https://github.com/meganz/sskeychain.git
[submodule "iMEGA/Vendor/GKContactImage"]
	path = iMEGA/Vendor/GKContactImage
	url = https://github.com/meganz/GKContactImage.git
[submodule "iMEGA/Vendor/Reachability"]
	path = iMEGA/Vendor/Reachability
	url = https://github.com/meganz/Reachability.git
