<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195061878697-sefjp9nuogl5n2f37303ria8hlbjg7is.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195061878697-sefjp9nuogl5n2f37303ria8hlbjg7is</string>
	<key>API_KEY</key>
	<string>AIzaSyD1Y28KoG0GKCH3k3NWhnuofWbp7uoY4WI</string>
	<key>GCM_SENDER_ID</key>
	<string>195061878697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mega.ios.qa.MEGAWidget</string>
	<key>PROJECT_ID</key>
	<string>mega-prod-ae8e1</string>
	<key>STORAGE_BUCKET</key>
	<string>mega-prod-ae8e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195061878697:ios:d19a781d70e31400203eb8</string>
	<key>DATABASE_URL</key>
	<string>https://mega-prod-ae8e1.firebaseio.com</string>
</dict>
</plist>