<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>MEGA/Images.xcassets/AppIcon.appiconset</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>allFiles</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
				<string>public.data</string>
				<string>public.content</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>altIconDay</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>altIconDay</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>altIconMinimal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>altIconMinimal</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>altIconNight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>altIconNight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>altIconDay</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>altIconDay</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>altIconMinimal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>altIconMinimal</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>altIconNight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>altIconNight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mega</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CHAT_SDK_GIT_COMMIT_HASH</key>
	<string></string>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>MEGA accesses your camera when you capture a video, photo or make a call inside the app.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>MEGA accesses Face ID to allow you to easily unlock the app’s passcode when you enable this option.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This will let you use MEGA to place and receive calls through devices that are on the same Wi-Fi or local access network</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>MEGA accesses your location when you share it with your contacts in chat.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>MEGA accesses your microphone when you capture a video, make a call or record voice messages inside the app.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>MEGA requires access to your photo library to add photos and videos to your device gallery</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>MEGA accesses your photos and videos when you upload them, share them through the chat and when Camera uploads is enabled.</string>
	<key>NSSiriUsageDescription</key>
	<string>NSSiriUsageDescription</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>SelectShortcutIntent</string>
	</array>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
	<key>SDK_GIT_COMMIT_HASH</key>
	<string></string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>quickActionSearch</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>quickActionSearchString</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).search</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>version</key>
				<string>$(PRODUCT_VERSION)</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>quickActionUpload</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>quickActionUploadString</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).upload</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>version</key>
				<string>$(PRODUCT_VERSION)</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>quickActionOffline</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>quickActionOfflineString</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).offline</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>version</key>
				<string>$(PRODUCT_VERSION)</string>
			</dict>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Launch</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>mega.iOS.cameraUpload.backgroundFetch</string>
	</array>
</dict>
</plist>
