<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>Repository Protocol</string>
	<key>Description</key>
	<string>This generates a new repository protocol</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the new repository protocol to create</string>
			<key>Identifier</key>
			<string>repositoryProtocolName</string>
			<key>Name</key>
			<string>New Repository Protocol Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_repositoryProtocolName:identifier___</string>
			<key>Identifier</key>
			<string>repositoryProtocolIdentifier</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_repositoryProtocolIdentifier___RepositoryProtocol</string>
			<key>Description</key>
			<string>The repository protocol name</string>
			<key>Identifier</key>
			<string>RName</string>
			<key>Name</key>
			<string>Repository Protocol Name:</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>1</string>
	<key>Summary</key>
	<string>This generates a new repository protocol.</string>
</dict>
</plist>
