<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageKey</key>
		<string>saveToPhotos</string>
		<key>nameKey</key>
		<string>photo.navigation.title</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>attachCloud</string>
		<key>nameKey</key>
		<string>cloudDrive</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>attachGIF</string>
		<key>nameKey</key>
		<string>GIF</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>attachVoiceClip</string>
		<key>nameKey</key>
		<string>Voice Clip</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>chatScanDocument</string>
		<key>nameKey</key>
		<string>chat.addToChatMenu.scan</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>attachLocation</string>
		<key>nameKey</key>
		<string>chat.map.location</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>attachFilesApp</string>
		<key>nameKey</key>
		<string>chat.addToChatMenu.filesApp</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>attachContact</string>
		<key>nameKey</key>
		<string>Contact</string>
	</dict>
</array>
</plist>
