<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>Use Case</string>
	<key>Description</key>
	<string>This generates a new use case.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the new use case to create</string>
			<key>Identifier</key>
			<string>useCaseName</string>
			<key>Name</key>
			<string>New Use Case Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_useCaseName:identifier___</string>
			<key>Identifier</key>
			<string>useCaseIdentifier</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_useCaseIdentifier___UseCase</string>
			<key>Description</key>
			<string>The use case name</string>
			<key>Identifier</key>
			<string>UCName</string>
			<key>Name</key>
			<string>Use Case Name:</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>1</string>
	<key>Summary</key>
	<string>This generates a new use case.</string>
</dict>
</plist>
