<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageKey</key>
		<string>attachGallery</string>
		<key>nameKey</key>
		<string>Photos</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>attachCloud</string>
		<key>nameKey</key>
		<string>File</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>attachVoiceCall</string>
		<key>nameKey</key>
		<string>Voice</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>attachVideoCall</string>
		<key>nameKey</key>
		<string>Video</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>attachContact</string>
		<key>nameKey</key>
		<string>Contact</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>attachGroup</string>
		<key>nameKey</key>
		<string>Start Group</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>attachLocation</string>
		<key>nameKey</key>
		<string>Location</string>
	</dict>
	<dict>
		<key>imageKey</key>
		<string>sendVoiceClipDefault</string>
		<key>nameKey</key>
		<string>Voice Clip</string>
	</dict>
</array>
</plist>
